<!DOCTYPE html>
<html ng-app="ASMSimulator">
<head>
    <style>
        @font-face{font-family: RobotoMono; src: url('./FONTSSSS/RobotoMono-Regular.ttf');}
    </style>
    <title>Assembly 8-Bit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/styleN.css">
    <link rel="stylesheet" href="./assets/Boostrap-copiato.css">
    <script type="text/javascript" src="//use.typekit.net/tor0zlh.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
</head>
<body ng-controller="Ctrl">
    <nav class="navbar navbar-inverse" role="navigation" style="background-color:#0c0c0c;border:1px;border-radius:4px; position: fixed; width: 100%; z-index: 99;">
        <div class="container">
            <div class="navbar-header">
                <div class="btn-group">
                    <button type="button" class="btn btn-success navbar-btn betterBtn" ng-click="run()" ng-hide="isRunning"></span>Esegui</button>
                    <button type="button" class="btn btn-default navbar-btn betterBtn" ng-click="stop()" ng-show="isRunning"></span> Stop</button>
                    <button type="button" class="btn btn-default navbar-btn betterBtn" ng-click="executeStep()" ng-disabled="isRunning" style="color: white">--></button>
                </div>
                <button type="button" style="color: white" class="btn btn-default navbar-btn betterBtn" ng-click="reset()">Reset</button>
            </div>
            <div class="navbar-header navbar-right" style="padding: 10px; margin-top: 1.333%;">
                <a class="rainbow">IDE assembly</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="alert alert-danger" style="margin-top: 75px" ng-hide="error === ''">{{ error }}</div>
        <div class="row"  style="margin-top: 75px">
            <div class="col-lg-7 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Codice  |  <a href="./instruction-set.html" target="_blank" style="color: #3280c5">Set Istruzioni</a></h4>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <textarea id="sourceCode"
                                      style="margin-bottom:5px; max-width: 625px; max-height: 850px;"
                                      class="form-control source-code" 
                                      rows="35"
                                      tab-support
                                      select-line
                                      ng-model="code"
                                      ></textarea>
                            <button style="color: white" type="button" class="btn btn-default betterBtn" ng-click="assemble()">Assembla il Codice</button>
                            <button style="color: white; margin-left: 2%;" type="button" class="btn btn-default betterBtn" ng-click="assemble()"><a href="https://www.zippo107.tk">Home</a></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-xs visible-sm"></div>
            <div class="col-lg-5 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Schermo</h4>
                    </div>
                    <div class="panel-body source-code" style="margin: auto; display: flex; justify-content: center; align-items: center;">
                        <div style="float:left;" class="output"
                             ng-repeat="m in memory.data | startFrom: outputStartIndex track by $index">
                            <span>{{ getChar(m) }}</span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading canvas-settings">
                        <h4 class="panel-title">CPU & Memoria</h4>                     
                    </div>
                    <div class="panel-body">
                        <p class="text-muted">Registri / Flags</p>
                        <table class="table table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th style="text-align:center">A</th>
                                    <th style="text-align:center">B</th>
                                    <th style="text-align:center">C</th>
                                    <th style="text-align:center">D</th>
                                    <th style="text-align:center">IP</th>
                                    <th style="text-align:center">SP</th>
                                    <th style="text-align:center">Z</th>
                                    <th style="text-align:center">C</th>
                                    <th style="text-align:center">F</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="text-align:center;" class="source-code">
                                    <td><div style="margin:auto;" ng-class="displayA && 'marker marker-a'"><small>{{ cpu.gpr[0] | number:displayHex }}</small></div></td>
                                    <td><div style="margin:auto;" ng-class="displayB && 'marker marker-b'"><small>{{ cpu.gpr[1] | number:displayHex }}</small></div></td>
                                    <td><div style="margin:auto;" ng-class="displayC && 'marker marker-c'"><small>{{ cpu.gpr[2] | number:displayHex }}</small></div></td>
                                    <td><div style="margin:auto;" ng-class="displayD && 'marker marker-d'"><small>{{ cpu.gpr[3] | number:displayHex }}</small></div></td>
                                    <td><div style="margin:auto;" class="marker marker-ip"><small>{{ cpu.ip | number:displayHex }}</small></div></td>
                                    <td><div style="margin:auto;" class="marker marker-sp"><small>{{ cpu.sp | number:displayHex }}</small></div></td>
                                    <td><small>{{ cpu.zero | flag }}</small></td>
                                    <td><small>{{ cpu.carry | flag }}</small></td>
                                    <td><small>{{ cpu.fault | flag }}</small></td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="text-muted">RAM</p>
                        <div class="source-code" id="containerCanvas">
                            <canvas id="canvas"></canvas>
                            <div class="memory-block"
                                 ng-repeat="m in memory.data track by $index"
                                 ng-class="getMemoryCellCss($index)">
                                 <div ng-class="getMemoryInnerCellCss($index)" ng-switch="isInstruction($index)">
                                     <small ng-switch-default>{{ m | number:displayHex }}</small>
                                     <a ng-switch-when="true" ng-click="jumpToLine($index)">
                                         <small>{{ m | number:displayHex }}</small>
                                     </a>
                                 </div>
                            </div>
                        </div>
                        <p style="margin-top:5px; word-spacing: 0.2px;">
                            <small>
                                <span>Velocità del Clock:</span>
                                <select ng-model="speed" ng-options="item.speed as item.desc for item in speeds" style="border-radius: 6.3px;"></select>
                                <span style="margin-left:5px;">Istruzioni:</span>
                                <a ng-click="displayInstr = true" ng-hide="displayInstr">Mostra</a>
                                <a ng-click="displayInstr = false" ng-show="displayInstr">Nascondi</a>
                                <span style="margin-left:5px;">Visualizza:</span>
                                <a ng-click="displayHex = true" ng-hide="displayHex">Decimali</a>
                                <a ng-click="displayHex = false" ng-show="displayHex">Esadecimali</a>
								<br>
								Indirizzo del Registro: 
                                <span style="margin-left:5px;">A:</span>
                                <a ng-click="displayA = true" ng-hide="displayA">Mostra</a>
                                <a ng-click="displayA = false" ng-show="displayA">Nascondi</a>
                                <span style="margin-left:5px;">B:</span>
                                <a ng-click="displayB = true" ng-hide="displayB">Mostra</a>
                                <a ng-click="displayB = false" ng-show="displayB">Nascondi</a>
                                <span style="margin-left:5px;">C:</span>
                                <a ng-click="displayC = true" ng-hide="displayC">Mostra</a>
                                <a ng-click="displayC = false" ng-show="displayC">Nascondi</a>
                                <span style="margin-left:5px;">D:</span>
                                <a ng-click="displayD = true" ng-hide="displayD">Mostra</a>
                                <a ng-click="displayD = false" ng-show="displayD">Nascondi</a>
                            </small>
                        </p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Etichette</h4>
                    </div>
                    <div class="panel-body source-code">
                        <table class="table table-condensed table-striped codelabels">
                            <tr>
                                <th>Nomi</th>
                                <th>Indirizzi</th>
                                <th>Valori</th>
                            </tr>
                            <tr ng-repeat="(name, value) in labels" class="codelabel">
                                <td class="codelabel-name">{{ name }}</td>
                                <td class="codelabel-line"><a ng-click="jumpToLine(value)">{{ value | number:displayHex }}</a></td>
                                <td class="codelabel-value">{{ memory.data[value] | number:displayHex }}
                                    <span ng-if="memory.data[value] >= 32 && memory.data[value] <= 126">
                                        ('{{ getChar(memory.data[value]) }}')
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="assets/asmsimulator.js"></script>
    <script src="canvas.js" defer></script> <!--canvas script-->
</body>
</html>
