@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');  
 *{  
   margin: 2;padding: 0;  
   box-sizing: border-box;  
   font-family: 'Poppins', sans-serif;  
 }  

 body{  
   display: flex;  
   justify-content: center;  
   align-items: center;  
   height: 442vh;  
 }

 .box{  
   width: 50px;  
   height: 54px;  
   position: relative;  
   display: flex;  
   align-items: center;  
   overflow: hidden;  
   padding: 5px;  
   cursor: pointer;  
   margin: 0.6em;  
   transition: all 0.5s;  
 } 

 .box:hover{  
   width: 165px;  
   background: #c32aa3;  
   border-radius: 10px;  
   color: white;  
   box-shadow: 0 0 50px #b315917c;  
 }

 .box:nth-child(2):hover{  
   background: #1877f2;  
   box-shadow: 0 0 50px #1876f285;  
 } 

 p{  
   transform: translate(50px);  
 }  

 .box .icon{  
   position: absolute;  
   width: 40px;  
   height: 40px;  
   display: flex;  
   justify-content: center;  
   align-items: center;  
   color: white;  
   border-radius: 12px;  
   margin-right: 10px;  
   transition: all 0.4s;  
 } 

 .instagram{  
   background: #c32aa3;  
 }  

 .facebook{  
   background: #1877f2;  
 }  
 
 .box:hover .icon{  
   background: white;  
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.26);  
   color: rgb(59, 59, 59);  
}  
