@charset "utf-8";

@font-face {
    font-family: 'Palanquin', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Palanquin&display=swap");
}
:root {
    --bg-base: #9c27b0;
    --bg-accent: #d06dff;
    --fg-normal: #e5e5e5;
    --fg-muted: #c6c2c9;
    --fg-accent: #d06dff;
}

body {
    font-family: 'Palanquin', sans-serif;
    background: #170827;
    color: var(--fg-normal);
    margin: 0;
    /*text-underline-offset: 0.2em;*/
    line-height: 1.45;
    padding: 25px 25px 25px 25px; 
    font-size: 18px;
}

.home {
    font-family: 'Palanquin', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
}

.buttonStyle {
    background-color: #f7f7f7;
}

/*global*/
/* Code By Webdevtrick ( https://webdevtrick.com ) */
@import url(https://use.fontawesome.com/releases/v5.0.6/css/all.css);

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-text-stroke: 3px var(--fg-accent);
    -webkit-text-size-adjust: none  auto  100%;
    -webkit-box-align: baseline  center  end  start  stretch;
    -webkit-text-stroke: inherit;
    -webkit-text-stroke: initial;
    -webkit-text-stroke: unset;
    -moz-box-flex: 3;
    -webkit-box-flex: 2;
}

html * {
    box-sizing: border-box;
}

main {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.Testo {
    font: 500;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    color:var(--fg-normal);
    word-spacing: -0.2%;
    font-family: 'Palanquin',sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
    margin: auto;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font: 100;
    font-size: 26px;
}

h2 {
    margin-left: 5%;
    font-size: 19px;
    margin: 0 auto;
}

.projects-h3 {
    font:bolder;
    font-size: 17px;
}

.item {
    /*resize*/
    flex: 1;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
}

.ulStyle {
    font-size: 30px;
    font-weight: 400;
    word-spacing: 0.5em;
    cursor: pointer;
}

header p {
    margin: 0;
    margin-top: -5px;
    font-size: 20px;
    color: var(--fg-muted);
}

.muted {
    font: 300;
    color: var(--fg-muted);
    
}

.accent {
    font-size: 46px;
    color: var(--bg-accent);
    font-weight: 900;
}

.media-icons {
    display: flex;
    flex-direction: row;
    gap: 12px;
}
  
  .media-icons a {
    margin-left: 5%;
    height: 52px;
    width: 52px;
    border-radius: 100%;
    background: var(--bg-accent);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    user-select: none;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 3px;
  }
  
  .projects article {
    display: flex;
    flex-direction: column;
    gap: 6px;
    letter-spacing: 0.2px;
  }
  
  .projects h3 {
    font-size: inherit;
    margin: 0;
    letter-spacing: 1px;
  }
  
  .projects p {
    color: var(--fg-muted);
    margin: 0;
    color: var(--fg-muted);
  }
  
  ::selection {
    background: var(--bg-accent);
}

/*colonums*/
.chip-grid {
    margin-left: 5%;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(156px, 1fr));
    gap: 12px;
}

.chip-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(156px, 1fr));
    gap: 10px;
}
  
.chip-grid a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: inherit;
    text-decoration: none;
}

.chip-grid img {
    width: 32px;
    height: 32px;
    user-select: none;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 3%;
    margin: 4% 4% 4% 4%;
}
/*****/

/*resize*/
@keyframes weeeeeeeee {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 737px /* haha funny plane number */ /* i like planes */) {
    main {
        flex-direction: column;
        margin: auto;
    }
}

.grid{
    display:grid;
    grid-template-columns: minmax(200px, 300px);
}
/*****/

.container {
    margin: 0 auto;
    max-width: 100em;
    resize: both;  /*no overflow*/
    /*resize container*/
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    display: -moz-box;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-box-direction: column;
    width: 100%;
    height: auto;
    padding: 0.333em;
}

main .container {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1em;
}

.screen-reader-text {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}

nav {
    background: transparent; /*f5f3f4, */
    color: var(--fg-muted);
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 9999;
}

/*** INPUT ***/
nav input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

/*** LABEL ***/
nav label {
    cursor: pointer;
    display: block;
    font: 26px/1 'Palanquin', sans-serif;
    padding: 0.8em;
    padding-left: 0.3em;
}

/* Icon */
#menu-icon,
#menu-icon:before,
#menu-icon:after {
    background: #888888;
    border-radius: 0.07332533em;
    height: 0.2em;
    transition: all 0.150s ease-in-out;
    transition-timing-function: calc(2ms 4ms 6ms);
    width: 100%;
}

#menu-icon {
    display: inline-block;
    margin: 0.4em 0;
    max-width: 1em;
    position: relative;
}

nav label #menu-icon {
    float: right;
}

#menu-icon:before,
#menu-icon:after {
    content: '';
    left: 0;
    position: absolute;
    cursor: pointer;
}

#menu-icon:before {
    top: -0.4em;
}

#menu-icon:after {
    bottom: -0.4em;
}

/* Close Icon */
nav input[type=checkbox]:checked + label #menu-icon {
    background: transparent;
}

nav input[type=checkbox]:checked + label #menu-icon:before {
    top: 0;
    animation-delay: 0.25ms;
    transform: rotate(-45deg);
}

nav input[type=checkbox]:checked + label #menu-icon:after {
    bottom: 0;
    animation-delay: 0.25ms;
    transform: rotate(45deg);
}


/*** MENU ***/
/* Overlay */
nav input:checked ~ #overlay {
    background: #381959;    /*quando apri*/
    bottom: 0;
    left: 0;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: -1;
}

/* List */
nav ul {
    font-size: 22px;
    list-style: none;
    margin: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
}

nav input:checked ~ ul {
    margin: 1em;
    max-height: inherit;
    opacity: 1;
}

nav ul > li {
    margin: 0.8em 0;
}

nav ul a {
    color: var(--fg-normal)!important;
    text-decoration: none;
}

nav ul a:hover {
    text-decoration: underline;
    color: var(--fg-normal);
}

/* Social Media */
nav ul#social-media > li {
    display: inline-block;
    font-size: 22px;
    margin: 0.8em;
}

/*icone*/
.fa {  
    padding: 20px;  
    text-align: center;    
    width: 60px;
    height: 60px;  
  }  
  .fa-facebook {  
    background: #3B5998;  
    color: white;  
  }   
  .fa-instagram {  
    background: #d508c5;  
    color: white;  
  }  
  .fa-youtube {  
    background: #bb0000;  
    color: white;  
  }    
  .fa:hover {  
      opacity: 0.65;  
  }  