/* for device (mobile) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	body {
	  background: #999;
	  width: 100%;
	}
}

/* no scroll */
html {
	scroll-behavior: none;
  }

.span1{
	resize: both;
	overflow: auto;
	image-rendering:-moz-crisp-edges; /* firefox */
	image-rendering: optimizeQuality;
  }

/*
.span2:hover{
	background: #0078a5;
}

.span2:active{
	position: relative;
	top: 1px;
}
*/

textarea {
	resize: none;
  }


/*sfondo*/

html, body {
	width: 100%;
	height:100%;
  }
  
  body {
	  background: linear-gradient(-45deg, #fbf8cc, #fde4cf, #ffcfd2, #f1c0e8, #cfbaf0, #a3c4f3, #90dbf4, #8eecf5, #98f5e1, #b9fbc0);
	  background-size: 400% 400%;
	  animation-delay: 0 0.4ms;
	  animation: gradient 12s ease infinite;
}
  
  @keyframes gradient {
	  0% {
		  background-position: 0% 50%;
	  }
	  50% {
		  background-position: 100% 50%;
	  }
	  100% {
		  background-position: 0% 50%;
	  }
}
/* titolo */

html, body {
    align-items: auto;
    text-align: center;
    min-height: 20%;
    min-width: 20%;
    margin: 0;
    padding: 0;
 }

html {
    padding-bottom: 0em;
    padding-top: 0em;
    font-size: 54px;
    text-align: center;
    scroll-padding-block:unset;
 }

.img {
	display:flex;
	height: auto;
	width: 100px;
	margin: auto;
}

.full-width-img {
	width: 100%;
}

	/***bootstrap css-tricks pagina già aperta***/
 /* resize titolo e immagini (div box) */
@media screen and (min-width: 780px) {
	.full-width-img {
	margin: auto;
	width: 90%;
	}
}

.container {
	justify-content: flex-start  flex-end  center  space-between  space-around  space-evenly  start  end  left right; 
	align-items: stretch  flex-start  flex-end  center  baseline  first baseline  last baseline start  end;
	display: flex;
	gap: 10px;
	gap: 10px 20px; /* row-gap column gap */
	row-gap: 10px;
	column-gap: 20px;   
}
.item {
	align-self: auto  flex-start  flex-end  center  baseline  stretch;
}
.resize {
	max-width: 100%;
	max-height: 100%;
	min-width: 70%;
	min-height: 100%;
}


/**GLOBAL**/
.box {
    margin-top: -2pc;
    margin-bottom: -6pc;
 }


.magictime {
    margin-top: 6pc;
    margin-bottom:-6pc;
}

.pulsante {
    vertical-align:middle;
    margin-top: 4pc;
    margin-bottom: 2pc;
}

.flex-gap {
    display: inline-flex;
    flex-wrap:nowrap;
 }

.flex-gap > div {
     margin: 0px; /*spaziatura*/
 }


x-sign {
    --interval: 2.4s;
    display: block;
    text-shadow: 
        0 0 10px var(--color1),
        0 0 20px var(--color2),
        0 0 40px var(--color3),
        0 0 80px var(--color4);
    will-change: filter, color;
    filter: saturate(60%);
    animation: flicker steps(100) var(--interval) 0.5s infinite;
 }

x-sign:nth-of-type(1) {
    color: lightpink;
    --color1: pink;
    --color2: orangered;
    --color3: red;
    --color4: magenta;
    font-family: Bad Script;
 }

@keyframes flicker {
    60% {
      color: white;
      filter: saturate(200%) hue-rotate(20deg);
    }
}
  

/* azione pulsanti home.. */
#pulsante {
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: bold 13px Arial, Helvetica, sans-serif;
	color: #fff;
	padding: 10px 18px;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00b1f1), to(#0078a5));
	background: -webkit-linear-gradient(top, #15c1ff, #0078a5);
	background: -moz-linear-gradient(top, #15c1ff, #0078a5);
	background: -ms-linear-gradient(top, #15c1ff, #0078a5);
	background: -o-linear-gradient(top, #15c1ff, #0078a5);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

#pulsante:hover {
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#15c1ff));
	background: -webkit-linear-gradient(top, #0078a5, #15c1ff);
	background: -moz-linear-gradient(top, #0078a5, #15c1ff);
	background: -ms-linear-gradient(top, #0078a5, #15c1ff);
	background: -o-linear-gradient(top, #0078a5, #15c1ff);
	background: linear-gradient(top, #0078a5, #15c1ff);
	}

#pulsante:hover {
		position: relative;
		top:0px; /*idk if 1 or 0 px*/
		background: #0681ad;
	}

#pulsante:active {
		position:relative;
		top: 0.2em;
	}

canvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index:-1;
	}
 