/* titolo */

html,
body {
    align-items: auto;
    text-align: center;
    min-height: 20%;
    min-width: 20%;
    margin: 0;
    padding: 0;
 }

html {
    padding-bottom: 0em;
    padding-top: 0em;
    font-size: 54px;
    text-align: center;
    scroll-padding-block:unset;
 }


 /* resize titolo e immagini (div box) */
.box {
     margin-top: -2pc;
     margin-bottom: -6pc;
 }


.magictime {
    margin-top: 6pc;
    margin-bottom:-6pc;
}

.pulsante {
    vertical-align:middle;
    margin-top: 4pc;
    margin-bottom: 2pc;
}

.flex-gap {
    display: inline-flex;
    flex-wrap:nowrap;
 }

.flex-gap > div {
     margin: 0px; /*spaziatura*/
 }


x-sign {
    --interval: 2.4s;
    display: block;
    text-shadow: 
        0 0 10px var(--color1),
        0 0 20px var(--color2),
        0 0 40px var(--color3),
        0 0 80px var(--color4);
    will-change: filter, color;
    filter: saturate(60%);
    animation: flicker steps(100) var(--interval) 0.5s infinite;
 }

x-sign:nth-of-type(1) {
    color: lightpink;
    --color1: pink;
    --color2: orangered;
    --color3: red;
    --color4: magenta;
    font-family: Bad Script;
 }

@keyframes flicker {
    60% {
      color: white;
      filter: saturate(200%) hue-rotate(20deg);
    }
}
