// /* loader */
.full__page {
    min-width: 100%;
    width: 100% !important;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #ececec !important;
    height: 100vh !important;
    z-index: 9999 !important;
    overflow: hidden !important;
}

section.about .container,
section.about__me .container,
section.project__sect .container,
section.contact__me .container {
    opacity: 0;
    animation: fade-in 1s forwards;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@media (prefers-reduced-motion) {
    section.about .container,
    section.about__me .container,
    section.project__sect .container,
    section.contact__me .container {
        animation: none !important;
        opacity: 1;
    }
}

//first
section.about .container {
    //preloader delay
    animation-delay: 3.5s;
}

//second
section.about__me .container {
    //preloader delay
    animation-delay: 4.35s;
}

//third
section.project__sect .container {
    //preloader delay
    animation-delay: 5.5s;
}

//fourth
section.contact__me .container {
    //preloader delay
    animation-delay: 6.75s;
}

@keyframes fade-in {
    from {
        transform-origin: bottom;
        opacity: 0;
        pointer-events: none;
    }
    to {
        transform-origin: top bottom;
        opacity: 1;
        pointer-events: all;
    }
}

// pre-loader
$count: 10;
$time: 3.175; //in seconds
$size: 100;
$color: #ffffff;

.holder {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: #202731;
}

.preloader {
    /* size */
    width: $size + px;
    height: $size + px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation: rotatePreloader $time + s infinite ease-in;
}

@keyframes rotatePreloader {
    0% {
        transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
    }
    100% {
        transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
    }
}

.preloader div {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.preloader div:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0%;
    width: 10%;
    height: 10%;
    background-color: $color;
    transform: translateX(-50%);
    border-radius: 50%;
}

@for $i from 1 through $count {
    .preloader div:nth-child(#{$i}) {
        transform: rotateZ(((360 / $count) * ($i - 1)) + deg);
        animation: rotateCircle + $i $time + s infinite linear;
        z-index: $count - $i;
    }
    @keyframes rotateCircle#{$i} {
        #{percentage(((50 / $count) * ($i - 1)) / 100)} {
            opacity: 0;
        }
        #{percentage((((50 / $count) + 0.0001) * ($i - 1)) / 100)} {
            opacity: 1;
            transform: rotateZ((0 - ((360 / $count) * ($i - 2))) + deg);
        }
        #{percentage((((50 / $count) * ($i - 0)) + 2) / 100)} {
            transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
        }
        #{percentage(((50 + ((50 / $count) * ($i - 0))) + 2) / 100)} {
            transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
        }
        100% {
            transform: rotateZ((0 - ((360 / $count) * ($count - 1))) + deg);
            opacity: 1;
        }
    }
}
