::selection {
	background: var(--black);
	color: var(--white);
}

::-moz-selection {
  background: var(--black);
	color: var(--white);
}

.nav-page ::selection {
	background: var(--white);
	color: var(--black);
}

::-webkit-scrollbar {
  width: 14px;
  scrollbar-track-color: #999;
  scrollbar-width: 14px;
}

::-webkit-scrollbar-track {
  background: var(--white);
}

::-webkit-scrollbar-thumb {
  background: var(--black);
	border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--black);
}
