section {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: max-content;
    margin-top: 200px;
    margin: 0;
    margin-left: 2rem;
    margin-right: 2rem;
    // max-width: 1024px;
}

section {
    color: var(--gradient-3-light !important);
}

section .container {
    width: 100%;
    max-width: 90%;
    margin-left: auto;
}

//first (pink)
section.about {
    padding-top: 210px;
    min-height: 50vh;
    background: #ff0066;
    overflow: hidden;
}

//second
section.about__me {
    padding-top: 150px;
    min-height: 50vh;
    background: #202731;
}

//third
section.project__sect {
    padding-top: 150px;
    min-height: 75vh;
    background: #ff0066;
}
.flip {
    transform: rotate(180deg);
}

//fourth
section.contact__me {
    padding-left: 25px;
    padding-top: 50px;
    padding-bottom: 125px;
    min-height: 50vh;
    background: #202731;
}

section.about__me > *, section.about > *, section.contact__me > * {
    color: var(--gradient-3-light) !important; 
}

@media screen and (max-width: 767px) {
    section .container {
        width: 100%;
        max-width: 100%;
        margin-right: auto;
    }
    section.about {
        padding-top: 125px;
    }
    section.about__me,
    section.project__sect {
        padding-top: 175px;
    }
    section.contact__me {
        padding-bottom: 15px;
    }
}

.curve {
    position: absolute;
    height: 250px;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.layer2 {
    background-image: url('/public/SVG/layer2.svg');
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}