---
// component imports
import Link from "../components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Page Not Found">
  <div class="container"
    style={{
      display: "grid",
      placeItems: "center",
      textAlign: "center",
      gap: "var(--space-sm)",
    }} >
    <div>
      <h1 class="title">Welp, something gone wrong!</h1>
      <p class="errorCap">turn back or go home!</p>
    </div>
    <div class="container center">  
      <div class="errorPage">
        <Link href="/"
          style="secondary"
          text="Go Home"
          icon={{
            name: "tabler:home",
            side: "right",
          }} 
        />
      </div>
    </div>
  </div>
</MainLayout>