---
// component imports
import Link from "../components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Page Not Found">
  <div class="container"
    style={{
      display: "grid",
      placeItems: "center",
      textAlign: "center",
      gap: "var(--space-sm)",
    }} >
    <div>
      <h1 class="h1" data-value="Welp, something gone wrong!">Welp, something gone wrong!</h1>
      <p>turn back or go right…</p>
    </div>
    <Link href="/"
      style="secondary"
      text="Go Home"
      icon={{
        name: "tabler:home",
        side: "right",
      }} />
  </div>
</MainLayout>
