---
// component imports
import Link from "../components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About" description="My About Page">
  <section class="container about" aria-label="About Me">
    <img
      src="/images/headshot.webp"
      alt="My headshot"
      width="200"
      height="330"
    />
    <div class="content">
      <h1 class="h1">About me</h1>
      <p>
        I can speak with computer. Is funny, it isn't? In my blog you can 
        find all about tecnologies and development things.
      </p>
      <p>You can get in touch with me at my email below!</p>
      <Link
        href="mailto:matteomania09@gmail.com"
        style="primary"
        text="Contact Me"
      />
    </div>
  </section>
</MainLayout>
