---
// component imports
import MainLayout from "../layouts/MainLayout.astro";
import PostCard from "../components/PostCard.astro";
import Link from "../components/Link.astro";

// utils imports
import { formatBlogPosts } from "../js/utils";

const allPosts = await Astro.glob("./blog/*.md");
const formattedPosts = formatBlogPosts(allPosts, {
  limit: 3,
});
---

<MainLayout title="Matteo Manià Blog">
  <section class="container about" aria-label="About Me">
    <img
      src="/images/headshot.webp"
      alt="My headshot"
      width="200"
      height="330"
      data-aos="zoom-in"
      data-aos-delay="150"
      data-aos-duration="300"
    />
    <div class="content">
      <h1
        class="h1"
        data-aos="zoom-in"
        data-aos-delay="300"
        data-aos-duration="300"
      >
        My Blog
      </h1>
      <p data-aos="zoom-in" data-aos-delay="500" data-aos-duration="300">
        You can find something interesting in this blog.
      </p>
      <Link
        href="/about/"
        style="secondary"
        text="👋 About Me"
        data-aos="zoom-in"
        data-aos-delay="650"
        data-aos-duration="300"
      />
    </div>
  </section>

  <section class="container" aria-label="New Blog Posts">
    <h2
      class="h1"
      data-aos="fade-up"
      data-aos-anchor-placement="bottom-bottom"
      data-aos-duration="350"
      data-aos-delay="750"
      data-aos-easing="cubic"
    >
      New Blog Posts
    </h2>
    <div
      class="post-container"
      data-aos="fade-zoom-in"
      data-aos-easing="ease-in-back"
      data-aos-delay="300"
      data-aos-offset="0"
    >
      {
        formattedPosts.map((post) => (
          <PostCard
            frontmatter={post.frontmatter}
            url={post.url}
            tagType="h3"
          />
        ))
      }
    </div>
  </section>
</MainLayout>
