/*1 font*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,400;1,500&display=swap');
/*2 font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

*, 
::before, 
::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0; 
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeSpeed;
    font: 400;
}

::selection {
    background-color: #212121;
    color:#f4f4f4;
}

body {
    overflow-x: none;
}

section {
    overflow: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
a,
p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 1.5em;
    transition: all 0ms !important; 
}

h1,
h2,
h3,
h4,
h5 {
    color: black;
}

h1 {
    font-size: 62px;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 35px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 22.5px;
}

a {
    font-size: 22.5px;
}

p {
    font-size: 24px;
    font-weight: 300;
    margin: auto;
}

span {
    color: #10141C;
    font-size: 85px;
    font-weight: 700;
    letter-spacing: -.4px;
    font-family: 'Montserrat', sans-serif;
    word-wrap: none;
}

a:hover:not(li > a) {
    color: #2A5ADA !important;
}

span.par-txt {
    font-weight: 700;
    color: black;
    font-family: 'Montserrat', sans-serif;;
}

div > p {
    margin-top: 1.5rem; margin-bottom: 1rem;
    margin-left: 1rem; margin-right: 1rem;
}

p#code {
    padding: 1rem 2rem 2.5rem 2rem;
}


@media screen and (max-width: 700px) {
    h1 {
        font-size: 50px;
    }
    span.code-txt, span {
        font-size: 60px;
    }
    p {
        font-size: 22px;
    }
}

@media (max-width: 575px) {
    p#code {
        font-size: 19px;
    }
}

/*navbar*/
.navbar {
    transition: all 0ms !important; 
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #212121; /*#2A9D8F*/
    color: whitesmoke;
}

/*
.brand-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.55rem;
    font-weight: 300;
    letter-spacing: -.75px;
    margin: 1rem 2.25rem;
    word-break: none;
    word-wrap: none;
}
*/
.container-img {
    display: flex;
    justify-content: left;
    text-align: left;
    padding-top: .5em;
    padding-left: 2em;
    padding-bottom: .75em;
    padding-right: 1em;
}

.container-img > img {
    border-radius: 50%;
    display: block;
}

@media (min-width: 1024px) {
    .brand-title {
        margin: 1rem 7rem;
    }
    .navbar-links ul {
        padding-right: 7rem !important;
    }
}

#spinner:hover{
    text-decoration: none;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0 3.5rem;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    transition: 150ms all !important;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 1.25rem;
}

.navbar-links li a:hover {
    color: #d0d0d0;
    text-decoration: underline;
    /*border-bottom: 1px solid whitesmoke;*/
}

/*new toggle button*/
.nav-toggle {
    transition: all 0ms !important; 
    display: none;
    position: absolute;
    top: 1.7em; /*old .65em*/
    opacity: 1;
    right: 3em;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background: transparent;
    border: 1px solid transparent;
    margin: 7px 0;
}

nav > button > span{
    transition: all 0ms !important;
    animation-delay: 0ms;
}
  
.nav-toggle:focus {
    outline-width: 0;
}

.nav-toggle:hover {
    cursor: pointer;
}
  
.nav-toggle [class*='bar-'] {
    background: whitesmoke;
    display: block;
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 0ms;
    border-radius: 8px;
    margin-bottom: 5.5px;
    height: 2px;
    width: 31px;
}
  
.nav-toggle .bar-bot {
    margin-bottom: 0;
}

.opened .bar-top {
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 15% 15%;
    transform-origin: 15% 15%;
}

.opened .bar-mid {
    opacity: 0;
}

.opened .bar-bot {
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 15% 95%;
    transform-origin: 15% 95%;
}
/*end toggle*/

@media screen and (min-width: 950px) {
    .container-img > img {
        margin-left: 3em;
    }
    .navbar-links > ul {
        padding-right: 4rem;
    }
}

@media (max-width: 860px) {
    .navbar-links li a {
        font-size: 18px !important;
    }
}

@media (max-width: 720px) {
    .navbar {
        padding: .5rem;
        flex-direction: column;
        align-items: flex-start;
    }

    /*old toggle-button*/
    .nav-toggle {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul:first-child {
        padding-top: 18px;
    }    

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links.active {
        display: flex;
    }
    
    .navbar-links li a {
        margin: auto;
        font-size: 20px !important;
    }
}
/*end nav*/

span#dotted {
    color: black;
    font-size: inherit;
    font-weight: 400;
    border-bottom: 3px dotted #10141C;
    bottom: 0;
}

section.container {
    max-width: fit-content;
    font-size: 24px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 250px 100px;
    position: relative;
}

#box {
    max-width: 850px;
}

#box2 {
    max-width: fit-content;
}

section div {
    margin: auto;
}

section.container#home {
    padding-top: 290px;
    height: 85vh;
}

section.container#contact {
    gap: 200px;
	padding-top: 220px;
    padding-bottom: 180px !important;
    height: 80vh;
}

.child {
    margin: 1rem auto,;
    color: black !important;
    text-align: center;
}

/******projects******/
.containerP {
    display: flex;
    gap: 60px;
    flex-direction: column;
}

.containerP .row {
    display: flex;
    gap: 60px;
}

.containerP .project {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
    width: 100%;
    height: calc((100vw - 50px) - 50vw - 75px);
    cursor: pointer;
    padding: 20px;
    animation-duration: 500ms;
    animation-name: zoomout;
}

.containerP .project:hover {
    outline: 1px solid #2A5ADA;
    animation-name: zoom;
    animation-duration: 500ms;
    animation-fill-mode:forwards;
}

@keyframes zoom {
    from {
        transform: scale(1.0);
    }
    to {
        transform: scale(1.08);
    }
}

@keyframes zoomout {
    from {
        transform: scale(1.08);
    }
    to {
        transform: scale(1.0);
    }
}

.containerP .row a {
    color: #1974d0;
    text-decoration: none;
}

.containerP .row a:hover {
    transition: 250ms !important;
    text-decoration:underline;
}

.project img {
    width: 100% !important;
}

/*resize*/
/*@media only screen and (max-width: 2160px) {
    section {
        height: auto !important;
    }
}*/

@media only screen and (max-width: 1100px) {
	.containerP .row {
		flex-direction: column;
	}

	.containerP .project {
		width: calc(100vw - 200px);
		height: calc(100vw - 200px);
	}

	.hi a {
		font-size: 8.5vw;
	}

	.hi {
		gap: 50px;	
	}
}

@media only screen and (max-width: 600px) {
	section {
		height: auto !important;
		padding: 100px 20px !important;
	}

	section.container{
		gap: 10px;
	}

	.containerP .project {
		width: 100%;
		height: calc(100vw - 40px);
	}

    .containerP {
        padding: 0 3rem !important;
    }
}
/****/

#progress-bar,
#progress-line{
    display: none;
    position: -webkit-sticky;
    position: -o-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
	height: 4px;
	background-color: rgba(255, 255, 255, 0.6575);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
	z-index: 99;
    overflow: hidden;
}

#progress-line {
	background-color: #10141C;
	width: 0;
	transition: width .125s ease-out;
}

/*back to top*/
.top-btn {
    all: unset; 
    position: fixed;
    right: 26px;
    bottom: 180px;
    cursor: pointer;
    transform: scale(1.04);
    opacity: 0;
    transition: 275ms all;
}

.top-btn :is(:hover, :focus) {
    color: #444; /*rgba(255, 0, 0, 0.7)*/
    transition: 125ms all !important;
}

@media (max-width: 581px) {
    .top-btn {
        right: 20px;
    }
    .column a {
        font-size: 16px !important;
    }
}

@media (max-width: 456px) {
    .top-btn {
        right: 12px;
        bottom: 155px;
    }
}
/****/

.center_wrapper {
    padding: 14px;
    text-align: left;
    display: inline-block;
}

.cards_wrapper {
    background: #212121; /*#264653*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    bottom: 0;
    padding: 30px 0;
}

.card {
    width: 250px;
    height: 250px;
    margin: auto 20px;
    display: inline;
    color: white;
}

.card a {
    text-decoration: none;
    list-style: none;
    color: whitesmoke;
}

.card a:hover {
    transition: all 50ms;
    color: #10141C; /*#457B9D*/
    cursor: pointer;
}

.ion-icon{
    width: 30px !important;
    height: 30px !important;
}

.footer {
    position: relative;
    padding-top: 8px;
    margin: 2px;
}

.footer.text h5 {
    margin-bottom: 1em;
    font-size: 16px !important;
    color: white !important;
}

span.foot-name {
    color:honeydew;
    font-size: 18.5px;
    letter-spacing: .6px;
    margin: .2em;
    font-weight: 500;
}

span.foot-name:hover {
    cursor: text;
}
