/*1 font*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,400;1,500&display=swap');
/*2 font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

*, 
::before, 
::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeSpeed;
    font: 400;
}

::selection {
    background-color: #264653;
    color:#A8DADC;
}

html, body, * {
    transition: all 375ms ease !important; 
}

/*  scroll-behavior: smooth;
    some issues for scroll if js is active.
*/

h1,
h2,
h3,
h4,
h5,
a,
p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5 {
    color: black;
}

h1 {
    font-size: 62px;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 35px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 22.5px;
}

a {
    font-size: 22.5px;
}

p {
    font-size: 24px;
    font-weight: 300;
    margin: auto;
}

span {
    color: #f00;
    font-size: 85px;
    font-weight: 700;
    letter-spacing: -.4px;
    font-family: 'Montserrat', sans-serif;
    word-wrap: none;
}

span.code-txt {
    font-weight: 400;
    color: black;
    font-family: 'Montserrat', sans-serif;;
}

p#code {
    margin: 2rem 3.75rem;
}


@media screen and (max-width: 700px) {
    h1 {
        font-size: 50px;
    }
    span.code-txt, span {
        font-size: 60px;
    }
    p {
        font-size: 22px;
    }
}

@media (max-width: 575px) {
    p#code {
        font-size: 19px;
    }
}

/*navbar*/
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #212121; /*#2A9D8F*/
    color: whitesmoke;
}

.brand-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: -1px;
    margin: 1rem 2rem;
    word-break: none;
    word-wrap: none;
}

.brand-title:hover, .navbar-links li a:hover {
    text-shadow: 0 0 22px rgba(255, 0, 0);
    color: rgb(250, 220, 220);
    transition: 200ms all ease !important;
}

.brand-title:hover {
    cursor: crosshair;
}

@media (min-width: 1024px) {
    .brand-title {
        margin: 1rem 6rem;
    }
    .navbar-links ul {
        padding-right: 6rem !important;
    }
}

#spinner:hover {
    animation-name: spinner;
    animation-timing-function: linear;
    /*animation-iteration-count:infinite;*/
    animation-duration: 1.25s;
    transform-style: preserve-3d;
    text-align: center;
    text-rendering: optimizeSpeed;
}

@keyframes spinner {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(-360deg);
    }
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0 3.5rem;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1.25rem;
}

/*new toggle button*/
.nav-toggle {
    display: none;
    position: absolute;
    top: .65em;
    opacity: 1;
    right: 1em;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background: transparent;
    border: 1px solid transparent;
    margin: 7px 0;
}
  
.nav-toggle:focus {
    outline-width: 0;
}

.nav-toggle:hover {
    cursor: pointer;
}
  
.nav-toggle [class*='bar-'] {
    background: whitesmoke;
    display: block;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .2s ease all;
    transition: .2s ease all;
    border-radius: 8px;
    margin-bottom: 5.5px;
    height: 2px;
    width: 31px;
}
  
.nav-toggle .bar-bot {
    margin-bottom: 0;
}

.opened .bar-top {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 15% 15%;
    transform-origin: 15% 15%;
}

.opened .bar-mid {
    opacity: 0;
}

.opened .bar-bot {
    -webkit-transform: rotate(45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 15% 95%;
    transform-origin: 15% 95%;
}
/*end toggle*/

/*
.toggle-button {
    position: absolute;
    top: 1.2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.bar-1, .bar-2, .bar-3 {
    width: 100%;
    background-color: white;
    border-radius: 12px;
}
.toggle-button .bar-1 {
    height: 4px;
}
.toggle-button .bar-2 {
    height: 3px;
}
.toggle-button .bar-3 {
    height: 4px;
}
*/

@media (max-width: 860px) {
    .navbar-links li a {
        font-size: 16px !important;
    }
    .brand-title {
        font-size: 17.3px !important;
    }
}

@media (max-width: 720px) {
    .navbar {
        padding: .5rem;
        flex-direction: column;
        align-items: flex-start;
    }

    /*old toggle-button*/
    .nav-toggle {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul:first-child {
        padding-top: 18px;
    }    

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links.active {
        display: flex;
    }
    
    .navbar-links li a {
        margin: auto;
        font-size: 20px !important;
    }
}
/*end nav*/

.container {
    font-size: 24px;
    margin: 25px;
    width: auto;
    height: 77.5vh;
    /* Center vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.child {
    overflow: hidden;
    color: black !important;
    text-align: center;
}


/*section slide*/
.section-1 .slide-in-demo {
    position: absolute;
    top: 95%;
    width: 100%;
    left: 0;
    text-align: center;
    font-size: 4em;
}


/*grid*/
.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 16px;
    height: 250px;
}

.column a {
    color:#1974d0; /*slategrey;*/
    margin: 1.5em auto; 
    word-wrap: none;
    word-break: none;
    text-decoration: none;
}

.column a:hover {
    text-decoration: underline;
    color: #1974d0;
}
/****/


/*back to top*/
.top-btn {
    all: unset; 
    position: fixed;
    right: 40px;
    bottom: 175px;
    cursor: pointer;
    transform:scale(1.05);
    opacity: 0;
    transition: 275ms all;
}

.top-btn :is(:hover, :focus) {
    color: rgba(255, 0, 0, 0.7); /*#457B9D*/
    transition: 175ms all ease !important;
}

@media (max-width: 581px) {
    .top-btn {
        right: 20px;
    }
    .column a {
        font-size: 16px !important;
    }
}

@media (max-width: 456px) {
    .top-btn {
        right: 12px;
        bottom: 155px;
    }
}
/****/

.center_wrapper {
    padding: 10px;
    text-align: left;
    display: inline-block;
}

.cards_wrapper {
    background: #212121; /*#264653*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    bottom: 0;
    padding-bottom: 20px;
}

.card {
    width: 250px;
    height: 250px;
    margin: auto 20px;
    display: inline;
    color: white;
}

.card a {
    text-decoration: none;
    list-style: none;
    color: whitesmoke;
}

.card a:hover {
    transition: all 50ms;
    color: rgba(255, 0, 0, 0.7); /*#457B9D*/
    cursor: pointer;
}

.ion-icon{
    width: 28px !important;
    height: 28px !important;
}

.footer {
    position: relative;
    padding-top: 8px;
    margin: 8px;
}

.footer.text h5 {
    font-size: 15px !important;
    color: white !important;
}

span.foot-name {
    font-size: inherit;
    letter-spacing: .2px;
    margin: .2em;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

span.foot-name:hover {
    cursor: text;
    text-shadow: 0 0 12px rgba(255, 0, 0, 0.845);
}
