/*1 font*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,400;1,500&display=swap');
/*2 font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

*, 
::before, 
::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0; 
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeSpeed;
    font: 400;
}

::selection {
    background-color: #212121;
    color:#f4f4f4;
}

html, body, * {
    transition: all 375ms ease !important; 
}

body {
    overflow-x: none;
}

section {
    overflow: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
a,
p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5 {
    color: black;
}

h1 {
    font-size: 62px;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 35px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 22.5px;
}

a {
    font-size: 22.5px;
}

p {
    font-size: 24px;
    font-weight: 300;
    margin: auto;
}

span {
    color: #f20101;
    font-size: 85px;
    font-weight: 700;
    letter-spacing: -.4px;
    font-family: 'Montserrat', sans-serif;
    word-wrap: none;
}

span.code-txt {
    font-weight: 400;
    color: black;
    font-family: 'Montserrat', sans-serif;;
}

p#code {
    margin: 2rem 3.75rem;
}


@media screen and (max-width: 700px) {
    h1 {
        font-size: 50px;
    }
    span.code-txt, span {
        font-size: 60px;
    }
    p {
        font-size: 22px;
    }
}

@media (max-width: 575px) {
    p#code {
        font-size: 19px;
    }
}

/*navbar*/
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #212121; /*#2A9D8F*/
    color: whitesmoke;
}

.brand-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: -1px;
    margin: 1rem 2rem;
    word-break: none;
    word-wrap: none;
}

.brand-title:hover {
    text-shadow: 0 0 22px #f20101;
    color: rgb(250, 220, 220);
    transition: 200ms all ease !important;
}

.brand-title:hover {
    cursor: text;
}

@media (min-width: 1024px) {
    .brand-title {
        margin: 1rem 7rem;
    }
    .navbar-links ul {
        padding-right: 7rem !important;
    }
}

#spinner:hover{
    font-style: italic;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0 3.5rem;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    transition: 100ms all !important;
    display: block;
    text-decoration: none;
    color: white;
    padding: 1.25rem;
}

.navbar-links li a:hover {
    color: #f20101;
    text-decoration: underline;
    /*border-bottom: 1px solid whitesmoke;*/
}

/*new toggle button*/
.nav-toggle {
    display: none;
    position: absolute;
    top: .65em;
    opacity: 1;
    right: 1em;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background: transparent;
    border: 1px solid transparent;
    margin: 7px 0;
}
  
.nav-toggle:focus {
    outline-width: 0;
}

.nav-toggle:hover {
    cursor: pointer;
}
  
.nav-toggle [class*='bar-'] {
    background: whitesmoke;
    display: block;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .2s ease all;
    transition: .2s ease all;
    border-radius: 8px;
    margin-bottom: 5.5px;
    height: 2px;
    width: 31px;
}
  
.nav-toggle .bar-bot {
    margin-bottom: 0;
}

.opened .bar-top {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 15% 15%;
    transform-origin: 15% 15%;
}

.opened .bar-mid {
    opacity: 0;
}

.opened .bar-bot {
    -webkit-transform: rotate(45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 15% 95%;
    transform-origin: 15% 95%;
}
/*end toggle*/

@media (max-width: 860px) {
    .navbar-links li a {
        font-size: 16px !important;
    }
    .brand-title {
        font-size: 19px !important;
    }
}

@media (max-width: 720px) {
    .navbar {
        padding: .5rem;
        flex-direction: column;
        align-items: flex-start;
    }

    /*old toggle-button*/
    .nav-toggle {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul:first-child {
        padding-top: 18px;
    }    

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links.active {
        display: flex;
    }
    
    .navbar-links li a {
        margin: auto;
        font-size: 20px !important;
    }
}
/*end nav*/

span#dotted {
    color: black;
    font-size: inherit;
    font-weight: 400;
    border-bottom: 3px dotted #f20101;
    bottom: 0;
}

section.container {
    font-size: 24px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 250px 100px;
    position: relative;
}

section div {
    margin: auto;
}

section.container#home {
    padding-top: 320px;
    height: 85vh;
}

section.container#about {
    height: 65vh;
}

section.container#contact {
    gap: 200px;
	padding-top: 220px;
    height: 80vh;
}

.child {
    margin: 1rem auto,;
    color: black !important;
    text-align: center;
}

/******projects******/
.containerP {
    display: flex;
    gap: 60px;
    flex-direction: column;
}

.containerP .row {
    display: flex;
    gap: 60px;
}

.containerP .project {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background: #f4f4f4;
    width: 100%;
    height: calc((100vw - 50px) - 50vw - 75px);
    cursor: pointer;
    padding: 20px;
}

.containerP .project:hover {
    transition: 25ms !important;
    outline: 2px solid #f20101;
}

.containerP .row a {
    color: #1974d0;
    text-decoration: none;
}

.containerP .row a:hover {
    transition: 250ms !important;
    text-decoration:underline;
}

.project img {
    width: 100% !important;
}

/*resize*/
/*@media only screen and (max-width: 2160px) {
    section {
        height: auto !important;
    }
}*/

@media only screen and (max-width: 1100px) {
	.containerP .row {
		flex-direction: column;
	}

	.containerP .project {
		width: calc(100vw - 200px);
		height: calc(100vw - 200px);
	}

	.hi a {
		font-size: 8.5vw;
	}

	.hi {
		gap: 50px;	
	}
}

@media only screen and (max-width: 600px) {
	section {
		height: auto !important;
		padding: 100px 20px !important;
	}

	section.container{
		gap: 10px;
	}

	.containerP .project {
		width: 100%;
		height: calc(100vw - 40px);
	}

    .containerP {
        padding: 0 3rem !important;
    }
}
/****/
/*
.bar {
    background: red;
    width: 100%;
    height: 10px;
    position: sticky;
    top: 0;
}
.slider {
    height: 100%;
    background: black;
    width: 0;
    transition: all linear .5s
}*/

#progress-bar,
#progress-line{
    display: none;
    position: -webkit-sticky;
    position: -o-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
	height: 8px;
	background-color: #a5a5a5;
	z-index: 3;
    overflow: hidden;
}

#progress-line {
	background-color: #f20101;
	width: 0;
	transition: width .2s ease-out;
}

/*back to top*/
.top-btn {
    all: unset; 
    position: fixed;
    right: 31px;
    bottom: 140px;
    cursor: pointer;
    transform: scale(1.05);
    opacity: 0;
    transition: 275ms all;
}

.top-btn :is(:hover, :focus) {
    color: #1974d0; /*rgba(255, 0, 0, 0.7)*/
    transition: 175ms all ease !important;
}

@media (max-width: 581px) {
    .top-btn {
        right: 20px;
    }
    .column a {
        font-size: 16px !important;
    }
}

@media (max-width: 456px) {
    .top-btn {
        right: 12px;
        bottom: 155px;
    }
}
/****/

.center_wrapper {
    padding: 10px;
    text-align: left;
    display: inline-block;
}

.cards_wrapper {
    background: #212121; /*#264653*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    bottom: 0;
    padding: 24px 0;
}

.card {
    width: 250px;
    height: 250px;
    margin: auto 20px;
    display: inline;
    color: white;
}

.card a {
    text-decoration: none;
    list-style: none;
    color: whitesmoke;
}

.card a:hover {
    transition: all 50ms;
    color: #f20101; /*#457B9D*/
    cursor: pointer;
}

.ion-icon{
    width: 28px !important;
    height: 28px !important;
}

.footer {
    position: relative;
    padding-top: 8px;
    margin: 2px;
}

.footer.text h5 {
    margin-bottom: 1em;
    font-size: 16px !important;
    color: white !important;
}

span.foot-name {
    font-size: inherit;
    letter-spacing: .2px;
    margin: .2em;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

span.foot-name:hover {
    cursor: text;
    text-shadow: 0 0 12px rgba(255, 0, 0, 0.845);
}
