/* font */
@import "../css/font.css";
/*the first file with all settings and main wrapper*/
/*reset, global and utilities*/
@import "./base/reset";
@import "./base/root";
/*components*/
@import "./components/navbar";
@import "./components/section";
@import "./components/contact_section";
@import "./components/footer";
@import "./components/scroll-bar";
@import "./components/pre-loader";

html,
body {
    font-family: var(--font-fam);
    color: var(--gradient-3-light);
    min-height: 100vh;
    max-width: 100%;
    font-size: 20px;
    line-height: 150%;
    transition: 125ms ease-out;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    font-size: 1rem;
    font-weight: 500;
}

body.no-overflow {
    overflow: hidden;
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 48px;
}

nav > img {
    width: 116px;
    height: 116px;
    opacity: 1;
    border-radius: 50%;
}

h1 {
    font-size: clamp(36px, 5vw, 60px);
    font-weight: 600;
}
h2 {
    font-size: clamp(21px, 5vw, 42px);
    font-weight: 700;
}
h3 {
    font-size: clamp(18px, 5vw, 36px);
    font-weight: 600;
}
h4 {
    font-size: clamp(16px, 5vw, 32px);
    font-weight: 500;
}
h5 {
    font-size: clamp(14px, 5vw, 28px);
    font-weight: 400;
}

.hello.first {
    max-width: fit-content;
    margin: 0;
    margin-left: 1rem;
    a {
        display: inline-block;
        position: relative;
        text-decoration: none;
        color: inherit;
        margin: 0 var(--spacing, 0px);
        transition: margin 0.25s;
        svg {
            width: 175px;
            height: 175px;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 77px) translateZ(0);
            fill: none;
            stroke: var(--stroke, var(--line));
            stroke-linecap: round;
            stroke-width: 1.5px;
            stroke-dasharray: var(--offset, 70px) 272px;
            stroke-dashoffset: 361px;
            transition: stroke 0.25s ease var(--stroke-delay, 0s), stroke-dasharray 0.35s;
        }
        &:hover {
            --spacing: 4px;
            --stroke: var(--line-active);
            --stroke-delay: 0.1s;
            --offset: 180px;
        }
    }
}

.hello:not(.hello.first) {
    max-width: fit-content;
    a {
        display: inline-block;
        position: relative;
        text-decoration: none;
        color: inherit;
        margin: 0 var(--spacing, 0px);
        transition: margin 0.25s;
        svg {
            width: 300px;
            height: 150px;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 68px) translateZ(0);
            fill: none;
            stroke: var(--stroke, var(--line));
            stroke-linecap: round;
            stroke-width: 1.5px;
            stroke-dasharray: var(--offset, 70px) 272px;
            stroke-dashoffset: 361px;
            transition: stroke 0.25s ease var(--stroke-delay, 0s), stroke-dasharray 0.35s;
        }
        &:hover {
            --spacing: 4px;
            --stroke: var(--line-active);
            --stroke-delay: 0.1s;
            --offset: 180px;
        }
    }
}

.hello:hover {
    opacity: .8;
}

.mobile {
    display: none;
}

@media screen and (max-width: 767px) {
    .hello.first {
        padding-left: 0.675rem;
    }
    .hello {
        padding-left: 3rem;
    }
    .title {
        margin-top: 2.5rem;
    }
    .text {
        margin-top: 1.25rem;
    }
}

.hello {
    font-size: clamp(70px, 6.5vw, 120px);
    font-weight: 700;
    margin-left: 0;
    margin-bottom: 36px;
}

.title {
    font-weight: 500;
    margin-top: 3rem;
}

.text {
    margin-top: 1.75rem;
    font-size: clamp(18px, 5vw, 32px);
    font-weight: 400;
    line-height: 1.3;
}

.about__title,
.project__title {
    text-align: left;
    margin-bottom: 3rem;
    padding-bottom: 2rem;
    margin: 0;
    font-size: clamp(35px, 5vw, 250px);
}

.container > h4 {
    margin-top: 2.5rem;
}

.list__about {
    list-style: disc;
    margin-left: 1.5rem;
}

.project.container {
    display: flex;
    gap: 48px;
    flex-direction: column;
    margin-left: 0;
    margin-top: 2rem;
    flex-wrap: wrap;
    flex-shrink: 2;
}

.project.container .row {
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.project.container .col {
    display: flex;
    flex-direction: column;
    gap: 36px;
    flex-wrap: nowrap;
    flex-grow: 2;
    padding: 10px;
    background-color: var(--color-bg-photo);
    outline: 2.25px solid var(--gradient-2-gray);
    transition: outline 175ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.project.container .col:hover {
    outline: 2.25px solid var(--line);
}

.col {
    max-width: 600px !important;
}

.project img {
    text-align: center;
    padding: 0px;
    margin: 0px;
    min-height: 230px;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background-position: center center;
    background-size: cover;
    height: auto;
    image-rendering: auto;
}

.project a {
    margin: 0;
    width: fit-content;
    height: fit-content;
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .project.container .row {
        display: flex !important;
        flex-direction: column !important;
    }
}

.image-parallax:hover a {
    position: relative;
    animation: shaker 0.333s both;
    animation-timing-function: 0.333s;
    animation-fill-mode: both;
    animation-delay: 100ms;
    animation-iteration-count: 3;
}

@keyframes shaker {
	0% { transform:  rotate(0deg) translate(1px, 1px) }
	20% { transform: rotate(-0.375deg) translate(-1px, -2px) }
	40% { transform: rotate(0deg) translate(-2px, 0px); }
	60% { transform: rotate(0.375deg) translate(2px, 0px); }
	80% { transform: rotate(0deg) translate(-1px, 2px); }
	100% { transform: rotate(-0.375deg) translate(1px, 1px); }
}

@media (max-width: 767px) {
    section .container {
        padding: 0 1rem !important;
    }
}