@font-face {
    font-family: 'SF Pro display';
    src: url(/font/SFPRODISPLAYREGULAR.OTF), url(/font/SFPRODISPLAYBOLD.OTF);
}

*,
::before,
::after 
{ margin: 0; box-sizing: border-box; }

/**root**/
:root {
    /*dark mode*/
    --color-white: #fefefe;
    --color-dark: #202020;
    --clr-pr-gray-25: #eeeeee;
    --clr-pr-gray-50: #e9ebf0;
    --clr-pr-gray-100: #cbced4;
    --clr-pr-gray-200: #a4a9b3;
    --clr-pr-gray-300: #858b94;
    --clr-pr-gray-400: #6a6f76;
    --clr-pr-gray-500: #5c6066;
    --clr-pr-gray-600: #3c3f43;
    --clr-pr-gray-700: #292d33;
    --clr-pr-gray-800: #1a1d24;
    --clr-pr-gray-900: #0f131a;
    --clr-pr-primary-100: #e2d4ff;
    --clr-pr-primary-200: #ccb0ff;
    --clr-pr-primary-300: #b68cff;
    --clr-pr-primary-400: #a269ff;
    --clr-pr-primary-500: #9146ff;
    --clr-pr-primary-600: #8331f5;
    --clr-pr-primary-700: #721de0;
    --clr-pr-primary-800: #5e0cc2;
    --clr-pr-primary-900: #470099;
    --clr-pr-red-100: #fccaca;
    --clr-pr-red-200: #faa9a7;
    --clr-pr-red-300: #f58884;
    --clr-pr-red-400: #f26a63;
    --clr-pr-red-500: #f04f43;
    --clr-pr-red-600: #e63f30;
    --clr-pr-red-700: #d12f1d;
    --clr-pr-red-800: #b3200c;
    --clr-pr-red-900: #8a1200;
    --clr-pr-orange-100: #ffe2c2;
    --clr-pr-orange-200: #ffce91;
    --clr-pr-orange-300: #ffba61;
    --clr-pr-orange-400: #ffa930;
    --clr-pr-orange-500: #ff9800;
    --clr-pr-orange-600: #f59700;
    --clr-pr-orange-700: #e08e00;
    --clr-pr-orange-800: #c27e00;
    --clr-pr-orange-900: #960;
    --clr-pr-yellow-100: #ffedd1;
    --clr-pr-yellow-200: #ffe2b3;
    --clr-pr-yellow-300: #ffd894;
    --clr-pr-yellow-400: #ffcf75;
    --clr-pr-yellow-500: #ffc757;
    --clr-pr-yellow-600: #f5bb3d;
    --clr-pr-yellow-700: #e0a824;
    --clr-pr-yellow-800: #c28f0e;
    --clr-pr-yellow-900: #997000;
    --clr-pr-green-100: #cff0ce;
    --clr-pr-green-200: #aee0ad;
    --clr-pr-green-300: #8ccf8c;
    --clr-pr-green-400: #71bf72;
    --clr-pr-green-500: #58b15b;
    --clr-pr-green-600: #3fab45;
    --clr-pr-green-700: #27a12f;
    --clr-pr-green-800: #10911b;
    --clr-pr-green-900: #007d0c;
    --clr-pr-cyan-100: #bcf4f7;
    --clr-pr-cyan-200: #87e6ed;
    --clr-pr-cyan-300: #57dae6;
    --clr-pr-cyan-400: #2acadb;
    --clr-pr-cyan-500: #00bcd4;
    --clr-pr-cyan-600: #00b1cc;
    --clr-pr-cyan-700: #00a0bd;
    --clr-pr-cyan-800: #008aa6;
    --clr-pr-cyan-900: #006e87;
    --clr-pr-blue-100: #c0e8fc;
    --clr-pr-blue-200: #93d6fa;
    --clr-pr-blue-300: #67c1f5;
    --clr-pr-blue-400: #3dadf2;
    --clr-pr-blue-500: #1499ef;
    --clr-pr-blue-600: #0e8ce6;
    --clr-pr-blue-700: #087ad1;
    --clr-pr-blue-800: #0464b3;
    --clr-pr-blue-900: #00498a;
    --clr-pr-violet-100: #d5c9f0;
    --clr-pr-violet-200: #b6a1e3;
    --clr-pr-violet-300: #987bd4;
    --clr-pr-violet-400: #805ac7;
    --clr-pr-violet-500: #673ab7;
    --clr-pr-violet-600: #5f2bb3;
    --clr-pr-violet-700: #531ba8;
    --clr-pr-violet-800: #470c99;
    --clr-pr-violet-900: #390085;
    --clr-pr-state-success: #58b15b;
    --clr-pr-state-info: #1499ef;
    --clr-pr-state-warning: #ffc757;
    --clr-pr-state-error: #f04f43;
    --clr-pr-body: #0f131a;
    --clr-pr-text-link: #9146ff;
    --clr-pr-text-link-hover: #a269ff;
    --clr-pr-text-link-active: #b68cff;
    --clr-pr-text-primary: #e9ebf0;
    --clr-pr-text-secondary: #a4a9b3;
    --clr-pr-text-tertiary: #858b94;
    --clr-pr-text-heading: #fff;
    --clr-pr-text-inverse: #1a1d24;
    --clr-pr-text-heading-inverse: #0f131a;
    --clr-pr-text-active: #9146ff;
    --clr-pr-text-disabled: #5c6066;
    --clr-pr-border-primary: #3c3f43;
    --clr-pr-border-secondary: #292d33;
    --clr-pr-bg-backdrop: rgba(15,19,26,.8);
    --clr-pr-state-hover-bg: #3c3f43;
    --clr-pr-color-focus-ring: 0 0 0 3px rgba(145,70,255,.25);
    --clr-pr-state-focus-shadow: 0 0 0 3px rgba(145,70,255,.25);
    --clr-pr-state-focus-outline: 3px solid rgba(145,70,255,.25);
    --clr-pr-shadow-overlay: 0 0 4px 4px rgba(0,0,0,.08),0 0 24px rgba(0,0,0,.05);
    --clr-pr-btn-default-bg: #3c3f43;
    --clr-pr-btn-default-text: #e9ebf0;
    --clr-pr-btn-default-hover-bg: #5c6066;
    --clr-pr-btn-default-active-bg: #858b94;
    --clr-pr-btn-default-active-text: #fff;
    --clr-pr-btn-default-disabled-bg: #3c3f43;
    --clr-pr-btn-default-disabled-text: #5c6066;
    --clr-pr-btn-subtle-text: #a4a9b3;
    --clr-pr-btn-subtle-hover-bg: #292d33;
    --clr-pr-btn-subtle-hover-text: #e9ebf0;
    --clr-pr-btn-subtle-active-bg: #6a6f76;
    --clr-pr-btn-subtle-active-text: #fff;
    --clr-pr-btn-subtle-disabled-text: #5c6066;
    --clr-pr-message-success-bg: #4caf50;
    --clr-pr-message-info-header: #fff;
    --clr-pr-message-info-text: #fff;
    --clr-pr-message-info-icon: #fff;
    --clr-pr-message-info-bg: #2196f3;
    --clr-pr-message-warning-bg: #ffb300;
    --clr-pr-message-error-bg: #f44336;
}

html, body {
    line-height: 1.5;
    font-family: 'SF Pro display';
    padding: 0;
    text-rendering: optimizeLegibility;
    min-height: 100vh;
    /*for dark mode*/
    color: var(--color-dark);
    background-color: var(--color-white);
    z-index: 0;
}

@media (prefers-reduced-motion) {
    body > * {
        transition: none;
    }
}

/*switching color for dark mode*/
.dark {
    color: var(--color-white) !important;
    background-color: var(--color-dark) !important;
}
.color-mode {
    aspect-ratio: 1;
    filter: invert(var(--dark-mode));
    inline-size: 2rem;
    max-inline-size: 50vw;
    transition: .5s ease-in-out;
    transform: rotate(0deg);
}
.color-mode.rotate {
    transform: rotate(-180deg);
    transition: .5s ease-in-out;
}

/*** box sizing border-box for all elements ***/
a{ text-decoration:none; color:inherit; cursor:pointer; }
button{ background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer; }
figure{ margin:0; }
input::-moz-focus-inner { border:0; padding:0; margin:0; }
ul, ol, dd{ margin:0; padding:0; list-style:none; }
h1, h2, h3, h4, h5, h6{ margin:0; font-size:inherit; font-weight:inherit; }
p{ margin:0;}
cite { font-style:normal; }
fieldset{ border-width:0; padding:0; margin:0; }

/*general styling for responsive*/
h1,h2,h3,h4,h5,h6,p,span,q,text {
    word-wrap: break-word;
    font-style: normal;
    margin: .3em;
}

h1 { font-size: 2em; /*margin: 0.67em 0;*/ }

h2 { font-size: 1.5em; /*margin: 0.83em 0;*/ }

h3 { font-size: 1.17em; /*margin: 1em 0;*/ }

h4 { font-size: 1em; /*margin: 1.33em 0;*/ }

h5 { font-size: 0.83em; /*margin: 1.67em 0;*/ }

h6 { font-size: 0.75em; /*margin: 2.33em 0;*/ }

img {
    max-width: 100%;
    height: auto;
    display: block;
}

i, i.ti { font-size: 1.75em; } 

.icon { width: 50px; height: 50px; }

.navbar {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.navbar-left { margin-left: 3rem; margin-top: 1.5rem; }
.navbar-right { margin-right: 3rem; margin-top: 1.5rem; }

@media screen and (min-width: 675px) { .navbar-left, .navbar-right { margin: 1.5rem 3rem; }}
@media screen and (min-width: 1440px) { .navbar-left, .navbar-right { margin: 1.5rem 10rem; }}

main {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center; /*centers items on the line (the x-axis by default)*/
    align-items: center; /*centers items on the cross-axis (y by default)*/
    flex-direction: column;
}

.card {
    background-color: var(--color-white);
    box-shadow: var(--clr-pr-shadow-overlay);
    align-self: center;
    padding: 2rem;
    max-height: 850px;
    max-width: 768px;
    border-radius: 22px;
    margin: auto 1rem;
    z-index: 99999;
}

.card > * { color: var(--clr-pr-gray-900); }

@media screen and (min-width: 550px) { .card { min-width: 550px; } }
@media screen and (min-height: 800px) { .card { min-height: 400px; } }

a:hover { color: var(--clr-pr-blue-700); transition: .25s ease;}

.email { margin: .25em; display: inline-flex;}

h3.contact { 
    margin-top: 2rem; 
    font-size: clamp(18px, 3vw, 22px);
}
.email-text { 
    font-style: italic;
    text-decoration: underline; 
    vertical-align: middle; 
    display: inline-flex;
}
.email-text:hover { font-style: normal; text-decoration: none; } 

h1.hi { animation: color-change 5s infinite; font-weight: 900; }

@keyframes color-change {
    0% { color: var(--clr-pr-blue-500); }
    20% { color: var(--clr-pr-cyan-500); }
    40% { color: var(--clr-pr-green-500); }
    60% { color: var(--clr-pr-orange-500); }
    80% { color: var(--clr-pr-primary-500); }
    100% { color: var(--clr-pr-red-500); }
}

h2.title {
    font-weight: bold;
    font-size: clamp(21px, 3vw, 28px);
}

@media screen and (max-width: 768px) {
    h1 { font-size: 22px; }
    h2 { font-size: 21px; }
    h3 { font-size: 20px; }
    h4 { font-size: 18px; }
    h5 { font-size: 17px; }
    h6 { font-size: 16px; }

    a { font-size: 18px; }

    footer, footer a {
        font-size: 12.5px !important;
    }
}

@media screen and (max-height: 660px) {
    .card {
        max-height: 425px;
        line-height: 1.2;
    }
    i.ti {
        font-size: 20px;
    }
}

/*fancy-link (title)*/
.underline { position: relative; max-width: fit-content;}
  
.underline::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2.2px;
    animation: multiColor 5s infinite; /*#0074D9*/
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@keyframes multiColor {
    0% { background-color: var(--clr-pr-blue-500); }
    20% { background-color: var(--clr-pr-cyan-500); }
    40% { background-color: var(--clr-pr-green-500); }
    60% { background-color: var(--clr-pr-orange-500); }
    80% { background-color: var(--clr-pr-primary-500); }
    100% { background-color: var(--clr-pr-red-500); }
}
  
@media (hover: hover) and (pointer: fine) {
    .underline:hover::before{
        left: 0;
        right: auto;
        width: 100%;
    }
}

.card-content p {
    font-size: clamp(18px, 3vw, 21px);
    color: var(--clr-pr-text-disabled);
}

.card-footer {
    border-top: 2px solid var(--clr-pr-gray-200);
    margin-top: 2rem;
}

ul.social-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    flex: 1; /*grow*/
}

ul.social-list li{
    display: flex;
    flex-direction: column;
    float: left;
    width: 33.3333%;
    box-sizing: border-box;
}

ul.social-list li::after {
    content: "";
    display: table;
    clear: both;
}

ul.social-list li a { margin-top: 1.25rem; }

footer { 
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: fit-content;
    background-color: var(--clr-pr-btn-default-active-text);
    display: flex;
    align-items: center;
    justify-content: center; 
}

footer p { grid-area: paragraph; }
