/* font */
@import "../css/font.css";
/*reset, global and utilities*/
@import "./base/reset";
@import "./base/root";
/*components*/
@import "./components/navbar";
@import "./components/section";
@import "./components/contact_section";
@import "./components/footer";
@import "./components/scroll-bar";

html,
body {
    font-family: var(--font-fam);
    min-height: 100vh;
    max-width: 100%;
    font-size: 20px;
    line-height: 150%;
    transition: 125ms ease-out;
    -webkit-font-smoothing: antialiased;
}

body.no-overflow {
    overflow: hidden;
}

body.light {
    //dark  :)))
    transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 300ms;
    color: var(--text-primary) !important;
    background-color: var(--bg-primary) !important;
}

body.dark {
    //white :))))
    transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 300ms;
    color: var(--bg-primary) !important;
    background-color: var(--text-primary) !important;
    a,
    input,
    button,
    svg,
    div,
    section,
    path {
        color: var(--gradient-1-blck) !important;
    }
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper {
    width: 100%;
    max-width: 1024px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 48px;
}

nav > img {
    width: 116px;
    height: 116px;
    opacity: 1;
    border-radius: 50%;
}

h1 {
    font-size: clamp(34px, 5vw, 54px);
    font-weight: 500;
}
h2 {
    font-size: clamp(21px, 5vw, 42px);
    font-weight: 700;
}
h3 {
    font-size: clamp(18px, 5vw, 36px);
    font-weight: 600;
}
h4 {
    font-size: clamp(16px, 5vw, 32px);
    font-weight: 500;
}
h5 {
    font-size: clamp(14px, 5vw, 28px);
    font-weight: 400;
}

.hello.first {
    max-width: fit-content;
    margin: 0;
    margin-left: 1rem;
    color: var(--text);
    a {
        display: inline-block;
        position: relative;
        text-decoration: none;
        color: inherit;
        margin: 0 var(--spacing, 0px);
        transition: margin 0.25s;
        svg {
            width: 175px;
            height: 175px;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 77px) translateZ(0);
            fill: none;
            stroke: var(--stroke, var(--line));
            stroke-linecap: round;
            stroke-width: 1.5px;
            stroke-dasharray: var(--offset, 70px) 272px;
            stroke-dashoffset: 361px;
            transition: stroke 0.25s ease var(--stroke-delay, 0s), stroke-dasharray 0.35s;
        }
        &:hover {
            --spacing: 4px;
            --stroke: var(--line-active);
            --stroke-delay: 0.1s;
            --offset: 180px;
        }
    }
}

.hello:not(.hello.first) {
    max-width: fit-content;
    // margin: 0;
    // margin-left: 1rem;
    color: var(--text);
    a {
        display: inline-block;
        position: relative;
        text-decoration: none;
        color: inherit;
        margin: 0 var(--spacing, 0px);
        transition: margin 0.25s;
        svg {
            width: 300px;
            height: 150px;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 68px) translateZ(0);
            fill: none;
            stroke: var(--stroke, var(--line));
            stroke-linecap: round;
            stroke-width: 1.5px;
            stroke-dasharray: var(--offset, 70px) 272px;
            stroke-dashoffset: 361px;
            transition: stroke 0.25s ease var(--stroke-delay, 0s), stroke-dasharray 0.35s;
        }
        &:hover {
            --spacing: 4px;
            --stroke: var(--line-active);
            --stroke-delay: 0.1s;
            --offset: 180px;
        }
    }
}

.hello:hover {
    color: #2b3044 !important;
}

.mobile {
    display: none;
}

@media screen and (max-width: 767px) {
    .hello.first {
        padding-left: .675rem;
    }
    .hello {
        padding-left: 3rem;
    }
    .title {
        margin-top: 2.5rem;
    }
    .text {
        margin-top: 1.25rem;
    }
}

.hello {
    font-size: clamp(70px, 6.5vw, 120px);
    font-weight: 700;
    margin-left: 0;
    margin-bottom: 40px;
}

.title {
    font-weight: 500;
    margin-top: 2.75rem;
}

.text {
    margin-top: 1.75rem;
    font-size: clamp(18px, 5vw, 28px);
    font-weight: 400;
    line-height: 1.3;
}

.about__title,
.project__title {
    margin-bottom: 3rem;
    padding-bottom: 1.1rem;
    margin: 0;
    font-size: clamp(35px, 5vw, 250px);
    color: rgba(0, 0, 0, 0.07);
}

.container > h4 {
    margin-top: 2.5rem;
}

.list__about {
    list-style: disc;
    margin-left: 1.5rem;
}

.project.container {
    display: flex;
    gap: 48px;
    flex-direction: column;
    margin-left: 0;
    margin-top: 2rem;
    flex-wrap: wrap;
    flex-shrink: 2;
}

.project.container .row {
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.project.container .col {
    display: flex;
    flex-direction: column;
    gap: 36px;
    flex-wrap: nowrap;
    flex-grow: 2;
    padding: 10px;
    background-color: var(--color-bg-photo);
    outline: 2.25px solid var(--gradient-2-gray);
    transition: outline 175ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.project.container .col:hover {
    outline: 2.25px solid var(--line);
}

.col > .project,
.col a,
.col {
    max-width: 525px !important;
}

.project img {
    text-align: center; 
    padding: 6px; 
    margin:0px; 
    min-height: 240px; 
    width:100%; 
    display:flex; 
    flex-direction:column; 
    justify-content:center; 
    align-items: center;
    background-position: center center; 
    background-size:cover;
    width: 100%;
    max-width: 100%;
    height: auto;
    image-rendering: auto;
}

.project a {
    width: fit-content;
    height: fit-content;
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .project.container .row {
        display: flex !important;
        flex-direction: column !important;
    }
}
