---
// library imports
import { Icon } from "astro-icon";
// component imports
import Link from "./Link.astro";
// data imports
import navData from "../data/navData";
---

<nav aria-label="Primary">
  <div class="navbar">
    <a href="/" class="logomark" aria-label="Go home">
      <Icon name="logomark" width="120" />
    </a>
    <div class="nav-menu">
      <ul>
        {
          navData.map((item) => (
            <Link
              text={item.name}
              href={item.path}
              style="primary"
              isFilled={false}
              data-navLink
            />
          ))
        }
      </ul>
      <button class="btn-dark">
        <i class="bi bi-moon"></i>
      </button>
    </div>
    <button class="burger-icon">
      <i class="bi bi-list"></i>
    </button>
  </div>
</nav>

<script>
  import "../js/nav.js";
</script>
