---
---
<div class="shop-container">
  <div class="flex">
    <div class="card" style="height: 325px;">
      <i class="bi bi-eyeglasses icon-boot"></i>
      <h2>Social</h2>
      <p><span class="price">50</span> <sup>&euro;</sup></p>
      <a href="#contact" class="buy-button">Compra</a>
    </div>
  </div>
  <div class="flex">
    <div class="card" style="height: 425px;">
      <i class="bi bi-diagram-3-fill icon-boot"></i>
      <h2>Completo</h2>
      <p><span class="price">200</span> <sup>&euro;</sup></p>
      <a href="#contact" class="buy-button">Compra</a>
    </div>
  </div>
  <div class="flex">
    <div class="card" style="height: 325px;">
      <i class="bi bi-wechat icon-boot"></i>
      <h2>Vetrina</h2>
      <p><span class="price">100</span> <sup>&euro;</sup></p>
      <a href="#contact" class="buy-button">Compra</a>
    </div>
  </div>
</div>