---
---

<div class="shop-container">
  <div class="flex">
    <div class="card" style="height: 300px;">
      <h2>Social</h2>
      <p>Prezzo: 50 euro</p>
      <a href="/Contact" class="buy-button">Compra</a>
    </div>
  </div>
  <div class="flex">
    <div class="card" style="height: 400px;">
      <h2>Completo</h2>
      <p>Prezzo: 200 euro</p>
      <a href="/Contact" class="buy-button">Compra</a>
    </div>
  </div>
  <div class="flex">
    <div class="card" style="height: 300px;">
      <h2>Vevtrina</h2>
      <p>Prezzo: 100 euro</p>
      <a href="/Contact" class="buy-button">Compra</a>
    </div>
  </div>
</div>


<script>
  import "../js/Form.js";
</script>