@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #262626;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #fff;
    background-color: #262626;
  }
  main {
    color: #fff;
    background-color: #262626;
  }
  .darkLink {
    color: inherit;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #fff;
    background-color: #262626;
  }
  main {
    color: inherit;
    background-color: inherit;
  }
  .darkLink {
    color: inherit;
  }
}