:root {
    --font-fam: "Mulish", sans-serif;
    --text-primary: #ececec;
    /* palette */
    --text-secondary: rgb(255, 246, 230);
    --text-link: rgb(56, 214, 254);
    --text-hover: rgba(56, 214, 254, 0.785);
    --bg-primary: #272325;
    --bg-dark: rgba(255, 255, 255, 0.05);
    --bg-hover: rgb(49, 68, 72);
    --gradient: radial-gradient(circle at 2% 3%, rgba(252, 228, 145, 0.3) 0%, rgba(252, 228, 145, 0.15) 100%);
    /* palette*/
    --bg-secondary: #141418;
    --bg-trz: #363535;
    --bg-soLight: #ffffffee;
    /* gradient t4ilwind*/
    --gradient-1-blck: #171717;
    --gradient-2-gray: #d4d4d4;
    --gradient-3-light: #f5f5f5;
}