/** resize all **/
@media (max-width: 767px) {
    h1 {
        font-size: 20px;
    }

    h2,
    h3,
    h4 {
        font-size: 16px;
    }

    h5 {
        font-size: 13px;
    }

    p {
        font-size: 14px;
    }
}

@keyframes loader {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes loader-reverse {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes loader-reverse {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

@supports (display: grid) {
    .blog-post-teasers {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 2rem;
    }

    .blog-post-teasers > * {
        padding: 0;
    }
}

@media screen and (max-width: 767px) {
    .btn-5 {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .img__container {
        display: flex;
        display: -webkit-flex;
        max-width: 140px;
        max-height: 190px;
    }
}

@media (max-width: 767px) {
    section.blog-post-teasers {
        margin: 4rem 0.5rem;
    }
}

/* resize */
@media screen and (max-width: 767px) {
    .about__section {
        max-width: fit-content;
        padding: 1rem;
        margin: 3rem 1rem 0rem 1rem;
        flex-direction: column;
        font-size: 14px;
    }

    .img__container {
        height: auto;
        max-height: fit-content;
        margin: 0 auto;
    }

    .button__container .first {
        max-width: 415px !important;
    }
}
