@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://api.fontshare.com/v2/css?f[]=satoshi@1,900,700,500,301,701,300,501,401,901,400,2&display=swap');
@import './font.css';

*, *::before, *::after { margin: 0; box-sizing: border-box; }

@layer base { html {scroll-behavior: smooth; font-family: 'Satoshi', sans-serif; }  
  body { @apply bg-[#ecf0f3] tracking-wide }
  a { color: inherit; text-decoration: none; }   }